<div>
    <b>{{localize "PF2EAXP.Award.Header"}}</b>
    <form>
         <div class="form-group form-group-horizontal">
            <select name="award-type" class="reason-select">
                <option hidden>Choose Reason</option>
                <option value="Custom" data-xp="{{xp}}">{{localize "PF2EAXP.Award.DescriptionPlaceholder"}}</option>
                {{#if description}}
                <option selected value="{{description}}" data-xp="{{xp}}">{{description}}</option>
                {{/if}}
                
                <optgroup label="Encounters">
                    <option value="{{localize "PF2EAXP.Award.Encounters.Trivial"}}" data-xp="40">{{localize "PF2EAXP.Award.Encounters.Trivial"}} (40 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Encounters.Low"}}" data-xp="60">{{localize "PF2EAXP.Award.Encounters.Low"}} (60 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Encounters.Moderate"}}" data-xp="80">{{localize "PF2EAXP.Award.Encounters.Moderate"}} (80 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Encounters.Severe"}}" data-xp="120">{{localize "PF2EAXP.Award.Encounters.Severe"}} (120 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Encounters.Extreme"}}" data-xp="160">{{localize "PF2EAXP.Award.Encounters.Extreme"}} (160 {{localize "PF2EAXP.Award.Exp"}})</option>
                </optgroup>
                
                <optgroup label="Accomplishments">
                    <option value="{{localize "PF2EAXP.Award.Accomplishments.Minor"}}" data-xp="10">{{localize "PF2EAXP.Award.Accomplishments.Minor"}} (10 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Accomplishments.Moderate"}}" data-xp="30">{{localize "PF2EAXP.Award.Accomplishments.Moderate"}} (30 {{localize "PF2EAXP.Award.Exp"}})</option>
                    <option value="{{localize "PF2EAXP.Award.Accomplishments.Major"}}" data-xp="80">{{localize "PF2EAXP.Award.Accomplishments.Major"}} (80 {{localize "PF2EAXP.Award.Exp"}})</option>
                </optgroup>
            </select>
            
            <div class="input-with-suffix xp-input">
                {{numberInput xp name="xp" class="uninput" min=0 step=1 placeholder=(localize "PF2EAXP.Award.ExpPlaceholder")}}
                <span class="input-suffix">{{localize "PF2EAXP.Award.Exp"}}</span>
            </div>
        </div>
        {{#if description}}
        <div class="pf2e_awardxp_description form-group">
            <input name="description" type="text" inputmode="text" placeholder="{{localize "PF2EAXP.Award.DescriptionPlaceholder"}}" value="{{description}}" disabled>
        </div>
        {{else}}
        <div class="pf2e_awardxp_description form-group">
            <input name="description" type="text" inputmode="text" placeholder="{{localize "PF2EAXP.Award.DescriptionPlaceholder"}}" value="{{description}}">
        </div>
        {{/if}}
        {{#if encounterParticipants}}
        <div class="form-group encounter-toggle">
            <label>
                <input type="checkbox" id="encounter-only">
                Select encounter participants only
            </label>
        </div>
        {{/if}}
        
        <div class="form-group online-players-toggle">
            <label>
                <input type="checkbox" id="online-players-only">
                Select characters of online players only
            </label>
        </div>

   <div class="destinations">
        {{#each destinations}}
        <div class="hero">
            <label>
                <input type="checkbox" name="destination.{{id}}" checked data-encounter-participant="{{#if ../encounterParticipants}}{{lookup ../encounterParticipants id}}{{else}}true{{/if}}">
                <img class="token" src="{{{prototypeToken.texture.src}}}">
                <span class="name">{{name}}</span> 
            </label>
        </div>

        {{else}}
        <p class="no-destinations">{{localize "PF2EAXP.Award.NoDestinations"}}</p>
        {{/each}}
    </div>


    </form>

</div>